.upload-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    margin-bottom: 16px;
  }
  
  button {
    background-color: lab(14.07% -0.39 -1.65 / 0.218);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
  }
  
  button:hover {
    background-color: #11000561;
  }
  
  Link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #76232e;
  }
  
  Link:hover {
    color: #217dbb;
  }
  /* Add this to your existing CSS file or create a new one */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #6f1b31;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #e0e0e0;
  }
  